body{padding:0px;margin:0px;-webkit-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;font-size:13px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#7a7a7a;}
p, img, form, input, select, ul, li, ol, div, dl, dt, dd{margin:0;padding:0;border:0px; line-height:26px;}
17ul, li {padding:0px; margin:0px;}
h1, h2, h3, h4, h5{border:0;margin:0;padding:0;font:Verdana, Arial, Helvetica, sans-serif;}
a{transition:all 0.4s ease 0s;-webkit-transition:all 0.4s ease 0s;text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif;}
a:hover, a:focus{color:#05495d;text-decoration:none;}
.cl{clear:both;}
.m0{margin:0px;}
.p0{padding:0px;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {display:block;padding:0px;margin:0px;}

::selection{
	color:#fff;
	background:#191919;
}
::-moz-selection{
	color:#fff;
	background:#191919;

}



/* --------------- Header Css Start --------------- */
.headerBox{width:100%;}
.logo{text-align:center;padding-top:7px;}
.logo img{}

.headerRight{text-align:right;}
.info{display:inline-block;padding:26px 15px;}
.info span{padding:0px 22px;font-size:14px;}
.info span i{}
.info span a{color:#7a7a7a;font-size:14px;}
.info span a:hover{color:#191919;}
.socialBox{display:inline-block;}
.socialBox a i{color:#acacac;border-radius:2px;font-size:14px;padding:9px 10px;transition:all 0.4s ease 0s;text-align:center;border:1px solid #e6e6e6;}
.socialBox a i:hover{color:#fff;border:1px solid #fff;border-radius:3px;}
.facebook:hover{background:#325c94;}
.linkdin:hover{background:#0073b2;}
.gplus:hover{background:#d9031f;}
.twittr:hover{background:#00abdc;}

/* --------------- Login Sign Up Box Css Start --------------- */
/* Login Sign Up Box */
.loginSignUpBox{padding-top:10px;padding-bottom:10px;}
.loginSignUpBox ul li{display:inline-block;border-right:1px solid #bcbcbc;line-height:12px;position:relative;}
.loginSignUpBox ul li a{padding:0 10px;color:#000;}
.loginSignUpBox ul li a:hover{text-decoration:underline;}

/* Sign In Box Css Start */
.signInBox{width:200px;height:auto;border:1px solid silver;position:absolute;right:0px;top:25px;z-index:9999;display:none;text-align:left;padding:15px;background:#fff;border-radius:5px;}
.signInBox h6{color:#666;font-size:18px;border-bottom:1px solid #ccc;padding:0px 0px 6px 0px;margin-top:0px;margin-bottom:10px;}
.signInBox ul{}
.signInBox ul li{display:block;border:0px;margin-bottom:10px;}
.signInBox ul li label{color:#666;font-size:10px; font-family:Arial, Helvetica, sans-serif;display:block;}
.loginInput{border:1px solid #d2d2d2;background:#fcfcfc;height:28px;outline:none;font-size:11px;text-indent:10px;width:100%;font-family:Arial, Helvetica, sans-serif;}
.signInBox li a{color:#666 !important;font-size:12px;padding:0px !important;}
.signInBox li a:hover{color:#000 !important;}
.submit{color:#fff;background:#000;padding:7px 15px;cursor:pointer;}
.submit:hover{background:#292929;transition:all 0.4s ease 0s;-webkit-transition:all 0.4s ease 0s;}
.closeBottn{position:absolute;right:0px;top:0px;}
/* Sign In Box Css End */

/* Sign up Box Css Start */
.signUpBgBox{width:100%;height:100%;background:rgba(0, 0, 0, 0.5);position:fixed; left:0px;top:0px;display:none;z-index:9999;}
.signUpBox{width:400px;height400px;border-radius:4px;background:#fff;position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-200px;z-index:9999;text-align:left;padding:15px;}
.pop-form-row{width:100%;float:left;margin-bottom:12px;}
.pop-form-row label{float:left;width:18%;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-align:right;padding-right:5px; line-height:30px;}
.pop-form-row input{width:80%;background:#fcfcfc;border:1px solid #d2d2d2;float:left;font-size:11px;outline:0 none;padding:7px 10px;margin-left:5px;}
.nameInput{width:39% !important;}

.gender input{width:20px !important;}
.gender label{width:auto !important;text-align:left;}
#signup-btn{background:#191919;padding:6px 20px;color:#fff;border:none;border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition:all .2s linear 0s;transition:all .2s linear 0s;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);text-transform:uppercase; margin-left:18%}
/* Sign up Box Css End */

/* --------------- Login Sign Up Box Css End --------------- */

/* --------------- Header Css End --------------- */

#banner{width:100%; }

/* ------------ Nav Css Start ------------ */
ul.topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
	width:100%;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; 
	
}

/* Change background color of links on hover */
ul.topnav li a:hover {color:#f5f5f5;}

li.active{background:yellowgreen; color:#FFFFFF;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
	margin-top:0px;
	padding:8px;
	font-size:14px;
	
  }
}


/* ------------ Nav Css End ------------ */

/* ------------ Banner Css Start --------------- */
.bannerSlider{width:100%;margin-top:-19px;}
.bannerSlider img{width:100%;max-height:400px;}

.skdslider{width:100%;position:relative;display:block;overflow:hidden;}
.skdslider:after {content: '';padding-top:29%;display:block;}
.skdslider ul.slides{margin:0;padding:0;list-style-type:none;}
.skdslider ul.slides li{display:none;}
.skdslider ul.slides li img{width:100%;height:100%;border:0;}
.skdslider ul.slide-navs {bottom:20px;left:50%;position:absolute;list-style-type: none;margin:0;padding:0;}
.skdslider a.prev{background:rgba(0, 0, 0, 0.5);width:50px;height:60px;display:block;cursor:pointer;position:absolute;top:50%;left:0%;margin-top:-30px;text-align:center;line-height:60px;color:#fff;}
.skdslider a.prev:hover{background:#000}
.skdslider a.prev:before{content:"\f053"; font-family:'FontAwesome';font-size:24px;}
.skdslider a.next{background:rgba(0, 0, 0, 0.5);width:50px;height:60px;display:block;cursor:pointer;position:absolute;text-align:center;line-height:60px;color:#fff;top:50%;right:0%;margin-top:-30px;}
.skdslider a.next:hover{background:#000; }
.skdslider a.next:before{content:"\f054"; font-family:'FontAwesome';font-size:24px;}
/* ------------ Banner Css End --------------- */



/* ---------- Industry We Serve Css Start ---------- */
.col-title {padding:0 0 10px;margin:0;font-size:18px;border-bottom:1px solid #000;display:inline-block;color:#000;text-transform:uppercase;font-weight:;}
.liner {display:block;width: 100%;border-bottom:1px solid #E6E6E6;margin:-1px 0 20px;}

#industryWeServe{width:100%;padding:40px 0px;background:#f2f2f2;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {position:relative;max-width:100%;}
.nbs-flexisel-ul {position:relative;width:9999px;margin:0px;padding:0px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner {overflow:hidden;float:left;width:100%;}
.nbs-flexisel-item {float:left;margin:0px;padding:0px;position:relative;line-height:0px;background:#fff;width:248px;margin:6px 10px;border-radius:4px;overflow:hidden;height:255px;-webkit-transition:border 0.2s ease 0s, box-shadow 0.2s ease 0s;transition:border 0.2s ease 0s, box-shadow 0.2s ease 0s;border-bottom:3px solid #fff;}
.nbs-flexisel-item:hover{box-shadow:0 0 10px rgba(0, 0, 0, 0.2);border-bottom:3px solid #7a7a7a;}
.nbs-flexisel-item img {cursor:pointer;position:relative;width:100%;height:180px;}
.nbs-flexisel-item h5{text-align:center;padding:12px 10px;font-size:14px;color:#777777;line-height:24px;text-transform:uppercase;}
.nbs-flexisel-item h5 small{display:block;font-size:12px;color:#c8c8c8;font-size:13px;text-transform:none;}
.nbs-flexisel-item h5:hover, .nbs-flexisel-item h5 small:hover{color:#000;}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {width:22px;height:22px;position:absolute;cursor:pointer;z-index:100;opacity:0.5;}
.nbs-flexisel-nav-left {left:-20px;}
.nbs-flexisel-nav-left::before{font-family:'FontAwesome';content:"\f104"; font-size:40px; width:30px;height:30px;}
.nbs-flexisel-nav-right {right:-25px;}
.nbs-flexisel-nav-right::before{font-family:'FontAwesome';content:"\f105";font-size:40px;width:30px;height:30px;}
.nbs-flexisel-nav-right:hover::before, .nbs-flexisel-nav-left:hover::before{color:#000}{color:#000}

/* ---------- Industry We Serve Css End ---------- */

/* ---------- Content Bottom Css Start ---------- */
.contentBottom{padding-top:40px;padding-bottom:0;}
.list{margin-bottom:20px;}
.list li{color:#000;line-height:35px;list-style:none;border-bottom:1px solid #e6e6e6;}
.list li i{margin-right:5px;}
.list li a{color:#000;list-style:none;display:block}
.list li a:hover{color:#2e8b57/*acacac*/;background:#fafafa;}
.welcomeTxt{margin-bottom:5px;}
.welcomeTxt p{margin-bottom:20px;font-family:Arial, Helvetica, sans-serif;}

/* ---------- Content Bottom Css Start ---------- */
.contBottom{padding-top:0px;padding-bottom:40px;}
.list{margin-bottom:20px;}
.list li{color:#000;line-height:35px;list-style:none;border-bottom:1px solid #e6e6e6;}
.list li i{margin-right:5px;}
.list li a{color:#000;list-style:none;display:block}
.list li a:hover{color:#2e8b57/*acacac*/;background:#fafafa;}
.welcomeTxt{margin-bottom:5px;}
.welcomeTxt p{margin-bottom:20px;font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px; text-align:justify;}


/* Clients Testimonial Css Start */
.bx-wrapper .bx-pager {text-align:center;padding-top:10px;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a {background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {background:#000;}
.bx-wrapper .bx-prev {left: 10px;background: url(images/controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-next {right: 10px;background: url(images/controls.png) no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover {background-position: 0 0;}
.bx-wrapper .bx-next:hover {background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a {position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}

.bxslider li{background:#f3f3f3;}
.bxslider li blockquote{border:0px;font-family:'marcellusregular';;font-size:14px;font-style:italic;margin:0;text-shadow:1px 1px 3px #e4e4e4;color:#000;}
.bxslider li blockquote p{font-weight:bold;font-size:14px; text-align:right;}
/* Clients Testimonial Css End */

/* ---------- Content Bottom Css End ---------- */

/* -------------- Footer Css Start -------------- */
#footer {background-color:darkcyan ;
padding: 0px 0 0;
color:#bfbfbf;
border-bottom:5px solid darkcyan; 
border-top:5px solid darkcyan;}
.extra-content .liner, #footer .liner {border-bottom:1px solid #313131;}
#footer hr {box-shadow:0 1px 0 rgba(255, 255, 255, 0.07);margin:10px 0;}
#footer .col-title {font-size: 14px;font-weight: normal; border-bottom: 1px solid #ffffff;color: #ffffff;}
.footer-last {background: darkcyan;padding: 8px 0 !important;}
.copyright {float:left;padding:0 20px;color:#FFFFFF;}
#footer a {color:#fff;}
#footer a:hover {color:#FFFFFF;text-decoration:underline;}
#footer .links i {margin-right:2px;}
#footer .links li{list-style:none;}
#footer .links li a {line-height:24px;}
#footer .links li a:hover{text-decoration:none;}
#footer .links li span {display:block;color:#919191;font-size:11px;margin-bottom:6px;}
#footer .p-title {color: #fff;margin:0 0 30px 0;}
.foot-menu {float: right;padding:0 10px;}
.foot-menu li{float:left;position:relative;padding:0 10px;list-style:none;}
.foot-menu li:before {content: '/';color: #696969;font-size:8px;position:absolute;left:-1px;top:2px;}
.foot-menu li:first-child:before {content: '' !important;}
.foot-menu li a{font-weight:400;}
.foot-menu li a:hover{text-decoration:none !important}
.widget-content{padding-bottom:20px;}
/* -------------- Footer Css End -------------- */

/* --------------------- Inner Pages Css Start --------------------- */

/* BreadCrub Css Strat */
.breadcrumb-place {min-height:110px;background:url(../images/breadcrumb.jpg) no-repeat left top #0b0b0b;background-position:center !important;}
.page-title {float:left;margin: 0;font-weight: normal;color:#fff;padding:46px 0 0 0;}
.breadcrumbIn {float: right;padding:45px 0 0 0;}
.breadcrumbIn span {display:inline-block;font-size:11px;color:#C2C2C2;}
.breadcrumbIn ul {display:inline-block;}
.breadcrumbIn ul li {color :#C2C2C2;font-size:12px;padding:0 10px;font-weight:normal;display:inline-block;white-space:nowrap;position:relative;}
.breadcrumbIn ul li a {color:#fff;}
.breadcrumbIn ul li a:hover {color:#ddd;}
.breadcrumbIn li:before {content: "/";position:absolute;display: block;font-size:8px;left:-6px;top:1px;}
.breadcrumbIn li:first-child:before {content: "";height:0;width:0;border:0;}

.servicesBreadCrum{background:url(../images/breadcrumb11.jpg) no-repeat left top #0b0b0b;}
.iWeServBCrumb{background:url(../images/breadcrumb2.jpg) no-repeat left top #0b0b0b;}
.contactBCrumb{background:url(../images/breadcrumb3.jpg) no-repeat left top #0b0b0b;}
.ourEmployerBCrumb{background:url(../images/breadcrumb4.jpg) no-repeat left top #0b0b0b;}
.jobSeekersBCrumb{background:url(../images/breadcrumb5.jpg) no-repeat left top #0b0b0b;}
.currentJobsBCrumb{background:url(../images/breadcrumb9.jpg) no-repeat left top #0b0b0b;}
/* BreadCrub Css End */

/* About us Page Css Start */
.innerPage{padding-top:30px;padding-bottom:30px;}
.innerLeftBox{}
.aboutImg{margin-bottom:10px;padding-left:0px;}
.aboutImg img{border:1px solid #eee;padding:3px;}
.innerLeftBox p{margin-bottom:15px;text-align:justify;font-family:Arial, Helvetica, sans-serif;line-height:20px;}
.aboutUsPage h4{color:#2e8b57;font-size:15px;margin-bottom:8px;}

.aboutUsPage ul{margin-bottom:15px;}
.aboutUsPage ul li{line-height:22px;padding-left:20px;list-style:none;}
.aboutUsPage ul li:before{content:"\f0da"; font-family:'FontAwesome';padding-right:10px;}

.innerRightBox{}
.currentBanner{margin-top:15px;}
.currentBanner img{width:100%;margin-bottom:7px;}

.aboutUsQuate{font-size:15px;margin-bottom:15px;text-align:center; color:#2e8b57}
.aboutUsQuate i{font-size:24px;padding:0 8px;color:#000}
/* About us Page Css End */


/* -------------- Contact Us Form css Start Here -------------- */
.contactForm{}
.contactForm{padding:15px; color:#000;}
.contactForm label{display:block;margin-bottom:5px;font-weight:normal;}
.contactForm ul{list-style:none;margin-top:25px;}
.iputFeild{background:#fdfdfd;border:1px solid #eaeaea;border-radius:2px;box-sizing:border-box;display:block;height:34px;line-height:24px;padding:0 10px;transition: all 0.3s ease 0s;width:100%; outline:none;}
.iputFeild:focus{background: none repeat scroll 0 0 #ffffff;border:1px solid #c5c5c5;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.contactForm textarea{height:130px; margin-bottom:20px;}
.submit{background:#191919;padding:7px 25px;color:#fff;border:none;border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition:all .2s linear 0s;transition:all .2s linear 0s; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);}
.submit:hover{background:#CF7E04;}

.contactDeails{font-family:Arial, Helvetica, sans-serif;line-height:20px;}
.contactDeails strong{}
.contactDeails i{font-size:20px;padding-right:6px;}
/* -------------- Contact us Form Css End Here -------------- */

/* -------------- Our Employers Css Start  -------------- */
.secHolder{margin-bottom:10px;background:#fefefe;color:#333;font-size:12px;border:1px solid #f8f7f7;padding-top:3px;margin-left:0px;margin-right:0px;}
.secHolder label{color:#7b7b7b;font-size:12px;font-family:Arial, Helvetica, sans-serif;line-height:26px;padding-bottom:2px;}
.sectionOptions{background:#fdfdfd;border:1px solid #e1e1e1;border-radius:2px;box-sizing:border-box;display:block;height:34px;line-height:24px;padding:0 10px;transition: all 0.3s ease 0s;outline:none;}
.sectionOptions:focus{background: none repeat scroll 0 0 #ffffff;border:1px solid #c5c5c5;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.discriptionTexArea{background:#fdfdfd;border:1px solid #e1e1e1;border-radius:2px;box-sizing:border-box;display:block;height:34px;line-height:24px;padding:0 10px;transition: all 0.3s ease 0s;outline:none;height:160px;}
.discriptionTexArea:focus{background: none repeat scroll 0 0 #ffffff;border:1px solid #c5c5c5;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.updateBottn2 input{background:#191919;padding:7px 25px;color:#fff;border:none;border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition:all .2s linear 0s;transition:all .2s linear 0s;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);text-transform:uppercase}
.updateBottn2 input:hover{background:#0c2b40;}
/* -------------- Our Employers Css End  -------------- */

.job{ background:url(../images/back-emp.png) no-repeat center ; }

.pl{ overflow:hidden; min-height:350px;}
.pl img{ width:100%; }
.pl_con{}

.con_tacta{ background:#faf5e9 ; overflow:hidden;}


/*gallery section start here*/
.gallery{  margin-top:10px; }

.gallery img{ width:150px; height:100px; }

.demo-gallery {
  width: 73%;
  height: auto;
  float: left;
  padding-bottom:17px;
  padding-top:17px;
}
.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin:3px;
  line-height: 0;
}



a.demo-gallery__img--main {
  width: auto;
  height: auto;
}

.Opening h2{padding-top:12px;}

.inputfield{width:300px; padding:10px;}
.inputfieldclass{border-radius:2px;height:35px; width:250px;  border:solid 1px #999999; padding-left:8px;}
.messagefieldclass{border-radius:2px;min-height:65px; width:250px;  border:solid 1px #999999; padding-left:8px;}


.em_form{}
.em_form ul{}
.em_form ul li{ list-style:none;}


<!--slider css start here-->

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}



.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}


.flexiselDemo2-li {border:1px solid red;
}


.pics{border:1px solid white;
}

.pics:hover{border:1px solid #999;
}




.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background: #fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
	
}



.scl{background:url(../image/phone-icon.png) 0 0 no-repeat;}
.ml{background:url(../image/mail.png) 0 0 no-repeat; }

.hpic{border:1px solid #CCCCCC; margin-bottom:10px;}
.hpic:hover{border:1px solid #ffffff ;-webkit-box-shadow: 6px 6px 9px 0px rgba(196,196,196,1);
-moz-box-shadow: 6px 6px 9px 0px rgba(196,196,196,1);
box-shadow: 6px 6px 9px 0px rgba(196,196,196,1);}







